{% extends 'base.html' %}
{% load static %}

{% block title%}웹프로그래밍 쇼핑몰{% endblock %}
{% block link %}{% static 'css/mypage.css' %}{% endblock %}
{% block script %}{% static 'js/item.js' %}{% endblock %}

{% block content %}
<div class="mypage-container">
  <aside class="category-menu">
    <h3>My Page</h3>
    <div class="options">
      <div class="option-div">
        <ul>
          <li><a href="{% url 'editInfo' %}" class="option-title">정보 수정</a></li>
          <li class="selected"><a href="{% url 'orderList' %}" class="option-title">주문 내역</a></li>
          <li><a href="{% url 'wishlist' %}" class="option-title">위시리스트</a></li>
        </ul>
      </div>
      <div class="wish-list">
        <h3>My Wish List</h3>
        <p>위시리스트에 담긴 상품이 없습니다.</p>
      </div>
      <div class="most-viewed">
        <h3>Most Viewed</h3>
        <div class="most-viewed-products">
          <a href="#">
            <img src="../static/images/chair-4.png" alt="의자" class="product-img-sm" />
          </a>
          <div class="most-viewed-desc">
            <a href="#"><strong>의자</strong></a>
            <p>50,000</p>
          </div>
        </div>
        <div class="most-viewed-products">
          <a href="#">
            <img src="../static/images/sofa-1.png" alt="소파" class="product-img-sm" />
          </a>
          <div class="most-viewed-desc">
            <a href="#"><strong>소파</strong></a>
            <p>500,000</p>
          </div>
        </div>
      </div>
    </aside>
  <section class="mypage-content">
    <h1 class="detail-title">주문 상세정보</h1>
    <dl class="info-box">
      <div class="ordered-date">
        <dt>주문일자</dt>
        <dd>2020-11-20</dd>
      </div>
      <div class="ordered-number">
        <dt>주문번호</dt>
        <dd>#00000001</dd>
      </div>
    </dl>
    <table class="ordered-table">
      <thead>
        <tr>
          <th><span>상품</span></th>
          <th><span>가격(수량)</span></th>
          <th><span>배송비/판매자</span></th>
          <th><span>총 상품 금액</span></th>
        </tr>
      </thead>
      <tbody>
        <tr class="ordered-item">
          <td>
            <a href="{% url 'item' %}">
              <img src="../static/images/sofa-1.png" alt="소파" class="ordered-item-img" />
              <span class="order-name">소파</span>
            </a>
          </td>
          <td>
            <p class="order-price">500,000</p>
            <p class="ordered-quantity">(1개)</p>
          </td>
          <td>
            <p class="ordered-shipping-fee">0원</p>
            <p class="seller">듀커소파</p>
          </td>
          <td><p class="total-item-price">500,000</p></td>
        </tr>
      </tbody>
    </table>
    <h2 class="delivery-title">배송지 정보</h2>
    <div class="delivery-info">
      <table class="delivery-table">
        <tr>
          <th>수령인</th>
          <td>홍길동</td>
          <td class="orderer">
            <span>주문자 정보</span>
            <a href="{% url 'editInfo' %}">회원정보변경</a>
          </td>
        </tr>
        <tr>
          <th>연락처</th>
          <td>010-1234-5678</td>
          <td rowspan="3" class="orderer-info">
            <p>홍길동</p>
            <p>010-1234-5678</p>
            <p>abc1234@gmail.com</p>
          </td>
        </tr>
        <tr>
          <th>배송지</th>
          <td>
            <p>12345</p>
            <p>서울특별시 서대문구 거북골로 34 명지대학교</p>
          </td>
        </tr>
        <tr>
          <th>배송메모</th>
          <td></td>
        </tr>
      </table>
    </div>
  </section>
</div>
{% endblock %}