{% extends 'base.html' %}
{% load static %}

{% block title%}웹프로그래밍 쇼핑몰{% endblock %}
{% block link %}{% static 'css/mypage.css' %}{% endblock %}
{% block script %}{% static 'js/mypage.js' %}{% endblock %}

{% block content %}
<div class="mypage-container">
  <aside class="category-menu">
    <h3>My Page</h3>
    <div class="options">
      <div class="option-div">
        <ul>
          <li><a href="{% url 'editInfo' %}" class="option-title">정보 수정</a></li>
          <li><a href="{% url 'orderList' %}" class="option-title">주문 내역</a></li>
          <li class="selected"><a href="{% url 'wishlist' %}" class="option-title">위시리스트</a></li>
        </ul>
      </div>
      <div class="wish-list">
        <h3>My Wish List</h3>
        <p>위시리스트에 담긴 상품이 없습니다.</p>
      </div>
      <div class="most-viewed">
        <h3>Most Viewed</h3>
        <div class="most-viewed-products">
          <a href="#">
            <img src="../static/images/chair-4.png" alt="의자" class="product-img-sm" />
          </a>
          <div class="most-viewed-desc">
            <a href="#"><strong>의자</strong></a>
            <p>50,000</p>
          </div>
        </div>
        <div class="most-viewed-products">
          <a href="#">
            <img src="../static/images/sofa-1.png" alt="소파" class="product-img-sm" />
          </a>
          <div class="most-viewed-desc">
            <a href="#"><strong>소파</strong></a>
            <p>500,000</p>
          </div>
        </div>
      </div>
    </aside>
  <section class="mypage-content">
    <h1 class="mypage-title">위시리스트</h1>
    <div class="wishlist-items">
      <div class="list-item">
        <div class="image-container">
          <a href="{% url 'item' %}">
            <img src="../static/images/bed-1.png" alt="침대" class="product-img" />
          </a>
          <div class="add-cart">
            <button type="button"><span>Add To Cart</span></button>
          </div>
          <div class="add-wishlist">
            <button type="button"><span>Add To Wishlist</span></button>
          </div>
        </div>
        <strong><a href="{% url 'item' %}">침대</a></strong>
        <span>300,000</span>
      </div>
      <div class="list-item">
        <div class="image-container">
          <a href="{% url 'item' %}">
            <img src="../static/images/table-1.png" alt="테이블" class="product-img" />
          </a>
          <div class="add-cart">
            <button type="button"><span>Add To Cart</span></button>
          </div>
          <div class="add-wishlist">
            <button type="button"><span>Add To Wishlist</span></button>
          </div>
        </div>
        <strong><a href="{% url 'item' %}">테이블</a></strong>
        <span>100,000</span>
      </div>
    </div>
  </section>
</div>
{% endblock %}